body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #aca9cf;
}

header {
    background: #000000;
    color: white;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(241, 8, 137);
    text-decoration: none;
}

#hero {
    padding: 50px;
    background: #000000;
    color: white;
}

.profile-img {
    width: 150px;
    border-radius: 90%;
}

section {
    padding: 50px;
}

.project {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input, form textarea, form button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

form button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #9c0707;
}
